body {
    background-color: rgb(231, 228, 228);
}

.card-top {
    display: inline-block;
}

#card {
    background-color: white;
    padding: 10px;
    margin: 120px;
    width: 90%;
    height: 10%;
}

#card-footer {
    display: inline-flex;
    background-color: white;
    padding: 10px;
    margin: 120px;
    width: 90%;
    height: 10%;
}